body {
	background-color: #f2f2f2; /* light gray background */
	font-family: Arial, sans-serif;
	text-align: center;
   	background-image: url(bdaygif.gif);
   	background-size: cover;
}

h1 {
	color: #ff69b4; /* pink color */
}
span{
    background-color: aliceblue;
    border-radius: 10px;
}
.p{
    padding: 0 10px;
    font-size: 1.5em;
    
    
	
}
p {
	font-size: 1.2em;
	
    
}
.image{
    height: fit-content;
}

img {
	width: 50%; /* resize image to 50% of its original size */
	margin: 10px;
	border-radius: 10px; /* add a slight border radius */
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
	perspective: 1000px; /* enable 3D perspective */
    align-items: center;
}

.card {
    
	width: 100px; /* set card width */
	height: 100px; /* set card height */
	transform-style: preserve-3d; /* enable 3D transform */
	transform: rotateY(0deg); /* initial rotation */
	transition: transform 2s; /* add transition effect */
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden; /* hide back face */
}

.front {
	transform: rotateY(0deg); /* initial rotation */
}

.back {
	transform: rotateY(180deg); /* rotate back face 180deg */
}

.card {
    position: relative;
    width: 200px; /* set card width */
    height: 200px; /* set card height */
    transform-style: preserve-3d; /* enable 3D transform */
    animation: rotateCard 4s linear infinite; /* add animation */
  }
  
  @keyframes rotateCard {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

.scrolling-images {
	width: 100%;
	 /* enable horizontal scrolling */
	white-space: nowrap; /* prevent images from wrapping to next line */
}

.scrolling-images img {
	width: 20%; /* resize scrolling images to 20% of their original size */
	margin: 10px;
	display: inline-block; /* display images inline */
}
